/****************
HEADER AND NAVIGATIONS
****************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem;
}

.sticky .sectionHero {
  margin-top: 8rem;
}
.logo {
  height: 2.2rem;
}

.mainNavList {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.mainNavLink:link,
.mainNavLink:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.mainNavLink:hover,
.mainNavLink:active {
  color: #cf711f;
}

.mainNavLink.navCta:link,
.mainNavLink.navCta:visited {
  background-color: #e67e22;
  color: #ffffff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.5s;
}

.mainNavLink.navCta:hover,
.mainNavLink.navCta:active {
  background-color: #cf711f;
}

.btnMobileNav {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.iconMobileNav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.iconMobileNav[name="close"] {
  display: none;
}

/****************
HERO SECTION
****************/

.sectionHero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.heroDiscription {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}
.heroImage {
  width: 100%;
}

.deliveredMeals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.deliveredImages {
  display: flex;
}

.deliveredImages img {
  width: 6.4rem;
  height: 6.4rem;
  margin-right: -1.6rem;
  border: 0.3rem solid #fdf2e9;
  border-radius: 50%;
}

.deliveredImages img:last-child {
  margin: 0;
}

.deliveredText {
  font-size: 1.8rem;
  font-weight: 600;
}

.deliveredText span {
  color: #cf711f;
  font-weight: 700;
}
/**************
FEATURED SECTION
*****************/
.sectionFeatured {
  padding: 9.6rem 0 3.2rem;
}
.headingFeatured {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************
HOW IT WORKS SECTION
*****************/

.sectionHow {
  padding: 9.6rem 0;
}

.stepNumber {
  font-size: 8.6rem;
  font-weight: 600;
  color: #dee2e6;
  margin-bottom: 1.2rem;
}

.stepImgBox {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}
.stepImgBox::before {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -2;
}

.stepImgBox::after {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.stepImg {
  width: 35%;
}

.grid--center-v {
  align-items: center;
}

.stepDescription {
  font-size: 1.6rem;
  line-height: 1.8;
}

/******************
MEALS SECTION
*******************/

.sectionMeals {
  padding: 9.6rem 0;
}

.meal {
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.75);
  border-radius: 1.2rem;
  transition: all 0.5s;
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem ragba(0, 0, 0, 0.5);
  transform: translateY(-1.2rem);
}

.mealImg {
  width: 100%;
}

.mealContents {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.mealTitle {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.3rem;
}

.mealAttributeList {
  list-style: none;
}

.mealAttribute {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.mealIcon {
  font-size: 2.4rem;
  color: #e67e22;
}

.mealTags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  background-color: #51cf66;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #51cf66;
}

.tag--paleo {
  background-color: #ffd43b;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  line-height: 1.2;
}

.listItems {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.listIcon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

.listName {
  font-size: 1.8rem;
}

.allRecipes {
  align-items: center;
  font-size: 1.8rem;
}

.centerText {
  text-align: center;
}

/******************
TESTIMONIALS SECTION
*******************/

.sectionTestimonials {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
  background-color: #fdf2e9;
}

.testimonialContainer {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonialImg {
  width: 6.4rem;
  margin-bottom: 1.6rem;
  border-radius: 50%;
}

.testimonialText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonialName {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.galleryItems {
  overflow: hidden;
}

.galleryItems img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.galleryItems img:hover {
  transform: scale(1.15);
}

/******************
PRICING SECTION
*******************/

.sectionPricing {
  padding: 9.6rem 0;
}

.planHeader {
  text-align: center;
  margin-bottom: 4.8rem;
  border-radius: 11px;
}

.pricingPlan {
  width: 75%;
}

.pricingPlanStarter {
  padding: 4.6rem;
  justify-self: end;
  border: 2px solid #fdf2e9;
}
.pricingPlanComplete {
  padding: 4.8rem;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricingPlanComplete::after {
  content: "best value";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  position: absolute;
  top: 8%;
  right: -18%;
  transform: rotate(45deg);
}

.planName {
  font-size: 2rem;
  color: #cf711f;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.planPrice {
  font-size: 6.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.planPrice span {
  font-size: 3rem;
  font-weight: 500;
  color: #6f6f6f;
  margin-right: 0.8rem;
}

.planText {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.planSignUp {
  margin-top: 4.8rem;
  text-align: center;
}

.PlanDetails {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.featureIcon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.featureHeader {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}

.featureText {
  font-size: 1.8rem;
  line-height: 1.8;
}

/******************
CTA SECTION
*******************/

.sectionCTA {
  padding: 4.8rem 0 12.8rem;
}

.CTA {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    rgba(235, 151, 78, 0.75),
    rgba(230, 116, 34, 0.75)
  );
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 11px;
  overflow: hidden;
}

.CTATextBox {
  padding: 4.8rem 9.6rem 9.6rem 9.6rem;
  color: #45260a;
}

.CTATextBox.headingSecondary {
  color: #45260a;
  margin-bottom: 4.8rem;
}

.CTAText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.CTAform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.CTAform label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.CTAform input,
.CTAform select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.CTAform input::placeholder {
  color: #aaa;
}

.CTAform *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 241, 232, 0.5);
}

.CTAImgBox {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 116, 34, 0.3)
    ),
    url(../img/eating.jpg);
  background-position: center;
  background-size: cover;
}

/******************
FOOTER SECTION
*******************/

.footer {
  padding: 12.8rem 0;
  border-top: 2px solid #ddd;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logoCol {
  display: flex;
  flex-direction: column;
}

.footerLogo {
  display: block;
  margin-bottom: 3.2rem;
}

.socialLinks {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.socialIcon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #767676;
  margin-top: auto;
}

.footerHeading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footerLink:link,
.footerLink:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footerlink:hover,
.footerLink:active {
  color: #cfc4c4;
}

.address {
  font-size: 1.6rem;
  color: #767676;
  margin-bottom: 2.4rem;
}

/******************
 SECTION HOW HERO
*******************/

.sectionHowHero {
  background-image: url(/img/meals/meal-2.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.sectionHowHeroTextBox {
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translate(-45%, 15%);
}

.sectionHowHeading {
  color: #efefef;
  font-size: 4.8rem;
  font-weight: 500;
}

.sectionHowFlexBox {
  margin-top: 1.6rem;
}

.heroLink {
  font-size: 1.6rem;
  color: #eee;
}
.domLink {
  font-size: 1.6rem;
  color: #e67e22;
  margin-left: 1.6rem;
}

.sectionMealHero {
  background-image: url(/img/meals/meal-2.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.sectionTestimonialsHero {
  background-image: url(/img/gallery/gallery-1.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.sectionPricingHero {
  background-image: url(/img/gallery/dollar.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

/***********************
Fix Flexbox for SAFARI
**********************/
.no-flexbox-gap .mainNavList li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}
